@font-face{
    font-family:Buttercup;
    src:url("buttercup_sample.otf")
}/* Credited source and font downloads are from www.dafont.com */
@font-face{
    font-family:Prata;
    src:url("Prata-Regular.ttf")
}
/* I downloaded fonts and referenced them within my page.*/
html body{
    background-color:white;
    padding:0;
    margin:0;
    height:100%;
}
main h1 a{
    font-family:Buttercup;
    color:#707070;
    font-size:2em;
    margin-left:350px;
}
main h1 a:link{
    color:#707070;
    text-decoration:none;
}
#homepagesalem{
    margin-left:200px;
}
h1, img{
    margin:0;
}
nav{
    font-family:garamond;
    font-style:italic;
    color:#949494;
    font-size:1.7em;
    float:right;
    padding-top:15%;
    padding-right:5%; 
    padding-bottom:2%;
}
nav a{
    display:block;
    margin-top:30px;
    text-align:center;
    border:1.5px dotted gray;
    border-radius: 5px;
    padding:6px;
}
nav a:link{
    color:#949494;
    text-decoration:none;
}
nav a:hover{
    color:black;
    background-color:lightgray;
}
nav a:visited{
    color:#606060;
}
#sidebanner1{
    padding-left:2%;
    float:left;
}
#overview{
    border-style:solid;
    border-color:gray;
    border-width:1.5px;
    padding-bottom:5%;
    width:600px;
    height:510px;
    display:inline-block;
}
#overviewp{
    margin-right:450px;
    font-size:20px;
}
section h1{
    font-family:Prata;
    color:#696969;
    display:inline-block;
    vertical-align: top;
    padding-left:2%;
    padding-top:3%;
}
section p{
    font-family:Prata;
    color:#696969;
    display:inline-block;
    padding-top:5%;
    position:absolute;
    left:355px;
}
#topbanner1{
    padding-left:10%;
}
#historyheading{
    padding-top:1%;
    padding-left:10%;
    padding-bottom:10%;
}
#historycontent{
    padding-top:4%;
    left:140px;
    right:250px;
    overflow:auto;
    height:600px;
    width:950px;
}
.NoPicture{
    text-align:center;
    margin-left:70px;
}
#victimheading{
    padding-top:1%;
}
#victimcontent{
    left:320px;
    padding-top:3%;
}
#victims{
    padding-top:5%;
    margin-left:130px;
    font-family:Prata;
    color:#696969;
    font-size:0.9em;
}
.VictimsPictures{
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
}
.VictimsName{
    padding-left:13%;
}
#sources{
    padding-top:0.5%;
    padding-left:2%;
}
#heading{
    margin-left:480px;
    padding-top:0.5%;
    padding-bottom:2%; 
    padding-left:5%;
    align-content:center;
}
#videotable{
    font-family:Prata;
    color:#696969;
    font-size:0.9em;
    font-style:italic;
    border:none;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    padding-left:2%;
}
#picturetable{
    font-family:Prata;
    color:#696969;
    font-size:0.9em;
    font-style:italic;
    border:none;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    padding-left:2%;
}
.SectionLink{
    font-family:Prata;
    text-align:center;
    margin-left:400px;
    height:380px;
    width:400px;
    padding-top:1%;
    display:block;
    overflow:auto;
}
ul{
    list-style:none;
}
a:link{
    color:black;
    text-decoration:none;
}
a:visited{
    color:#606060;
}
a:hover{
    color:#949494;
}
footer{
    margin-left:550px;
    font-family:tahoma;
    color:#707070;
    bottom:0;
    left:0;
    right:0;
    padding-top:2%;
}
#footer{
    padding-top:40%;
}